@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Fondamento:ital@1&family=Heebo:wght@900&family=PT+Sans&family=Shadows+Into+Light+Two&display=swap');
@import url('fonts.css');

:root{
	--bg-gradient:linear-gradient(to right, #014871 40%, #c2c2c2 90%);
	--border-inputs: #000000;
	--form-bg:#3449be;
	--form-color:#fff;
	--input-border-size:2px;
	--font-inputs:bold;
	--font-familia:Arial;
	
	--button-bg-on:#014871;
	--button-bg-off:#6a6161;

	--button-color-on:#ffffff;
	--button-color-off:#060830;

	--form-alert-bg:#ffffff;
	--form-alert-color:#000;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;	
}

html{
	background:var(--bg-gradient);
}

body{
	color:#000000;
	font-weight:bold;
	font-family: var(--font-familia);
}

.form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
}

.form p{
	color:#fff;
}

.link a{
	background-image: url('/assets/img/pngwing.com.png');
	background-repeat: no-repeat;
	background-position: center;
	padding:12px;
	margin:10px;
	text-decoration:none;
	color:#fff;
}


.outer {
	display: flex;
	place-items: center;
	align-items: center;
  }

.form-container {
	background-color: #ffffffa3; /* Alterado para branco */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: auto;
	align-items: center;
	
}
.form {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column; /* Os campos de entrada estarão dispostos verticalmente */
	justify-content: center; /* Centraliza verticalmente os campos de entrada */
	align-items: center; /* Centraliza horizontalmente os campos de entrada */
}


.formlogin{
	display:flex;
	flex-direction:column;
	margin-top:20px;
	padding:10px;
}

.formlogin 
input[type=number],
input[type=text],
input[type=email],
input[type=tel],
input[type=password]{
	border-radius:5px;
	border:var(--input-border-size) solid  var(--border-inputs);
	padding:12px;
	font-size:18px;
	font-weight:bold;
}

h3{
	color:#000;
	text-align:center;
}

.formlogin label{
	color:#fff;
	padding:12px;
	font-size:20px;
}

.formlogin button{
	padding:16px;
	font-size:20px;
}

.formlogin 
button{
	background:var(--button-bg-off);
	color:var(--button-color-off);
	border:1px solid var(--button-bg-off);
	border-radius:5px;
	padding:8px;
	font-weight:bold;
	width:300px;
}

.formlogin 
button:hover{
	background:var(--button-bg-on);
	color:var(--button-color-on);
	border:1px solid transparent;
	border-radius:5px;
	padding:8px;
	font-weight:bold;
	width:300px;
}

.form-alert h3{
	color:#000;
	padding:12px;
	font-size:20px;
}

.form-alert p{
	font-size:18px;
	padding:12px;
}

.form-alert{
  background: var(--form-alert-bg);
  border: 1px solid #B8B5B5;
  border-radius: 5px;
  margin: 10px;
  padding-left: 10px;
  text-align:center;
}

.form-img{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	align-items:center;
}

.form-img img{
	border-radius:5px;
}

.form-header{
	border-radius:5px;
	background: #8888889e;
	padding:12px;
	color:#000;
}


.ls-custom-select{
	padding:12px;
}

.ls-select{
	border-radius:5px;
	background:#fff;
	color:#000;
	font-weight:bold;
	font-size:24px;
	padding:8px;
	text-align:center;
	width:100%;
}

/*

.form{
	display:flex;
	flex-direction:column;
	align-content:center;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100vh;
}

.formlogin{
	border:1px solid transparent;
	background:#BE3455;
	color:#fff;
	border-radius:4px;
	display:flex;
	flex-direction:column;
	padding:40px;
	box-shadow:10px 10px 40px black;
}

.img-logo img{
	color:transparent;
	margin:auto;
	display:block;
	width:100px;
	height:100px;
}


.formlogin 
label{
	font-size:24px;
}


.formlogin 
input[type=number],
input[type=text],
input[type=email],
input[type=tel],
input[type=password]{
	font-size:16px;
	border-radius:5px;
	border:2px solid #000000;
	padding:16px;
}

.formlogin
input[type=file]
{
	border:2px solid #000000;
	background-color:#000000;
	color:#ffff;
	padding:10px 20px;
	border-radius:5px;
	cursor:pointer;
}

.formlogin input[type=file]{
	border:1px solid transparent;
}


.link a{
	padding:10px;
	color:black;
	text-decoration:none;
}

#login{
	border-radius:5px;
	border:1px solid transparent;
	padding:6px 0px;
	font-weight:bolder;
}

.formlogin a{
	color:#000;
	padding-top:4px;
	text-decoration:none;
	font-weight:bolder;
}

.formlogin h3{
	text-align:center;
	color:#fff;
}

.formlogin p{
	text-align:center;
	padding:12px;
	color:#fff;
}


.formlogin a:hover{
	color:slateblue;
}


.formlogin select option{
	padding:25px;
	font-weight:bolder;
	line-height:2;
}

.btn{
	display:flex;
	flex-direction:row;
	align-items:center;
	align-content: center;
	justify-content:center;
	color:#000;
}


.btn button{
	font-size:18px;
	background:#000000;
	color:#fff;
}

.btn button:hover, 
button:link{
	background:silver;
	color:#000;
}

.btn button{
	float:left;
	width:150px;
}

*/