/* Reset de estilos e estilos iniciais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos do menu */
.menu {
    background-color: skyblue;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
	font-weight:bold;
    text-decoration: none;
    color: #000;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: skyblue;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
    }
}
