body{
	background:skyblue;
	padding:0;
	margin:0;
}

.page{
	display:flex;
	flex-direction:column;
	width:100%;
	height:100vh;
	align-items:center;
	align-content: center;
	justify-content:center;
}


.form{
	background:#fff;
	border-radius:4px;
	color:#000;
	display:flex;
	flex-direction:column;
	padding:40px;
	gap:5px;
	box-shadow:10px 10px 40px black;
}

.form h3{
	text-align:center;
}

.form label{
	font-weight:bold;
}

.form a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}

.form input{
	padding:4px;
}

.form input[type=submit]{
	background:deepskyblue;
	border:1px black;
	border-radius:5px;
	padding:8px;
	font-weight:bold;
}

.form input[type=submit]:hover{
	background:lightskyblue;
	border:1px black;
	border-radius:5px;
	padding:8px;
	font-weight:bold;
}

@media (min-width:320px){
	.form{
		background:#fff;
		border-radius:4px;
		color:#000;
		display:flex;
		flex-direction:column;
		padding:40px;
		gap:5px;
		box-shadow:10px 10px 40px black;
	}

}